1.Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [7]:
import numpy as np

n = 10

np.arange(n-1, -1, -1)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

2.Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [18]:
n = 10

diagonal_matrix = np.diag(np.arange(n-1, -1, -1))
diagonal_sum = 0


for i in range(len(diagonal_matrix)):
    diagonal_sum += diagonal_matrix[i][i]
    
print('Сумма элементов по диагонали - {}'.format(diagonal_sum))

Сумма элементов по диагонали - 45

3.Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [112]:
import pandas as pd

dataset = pd.read_csv('./ratings.csv')
movies = pd.read_csv('./movies.csv')
count_ratings = dataset[dataset['rating'] == 5].groupby(['movieId'])['movieId'].agg(['count']).sort_values(by='count', ascending=False).head(1)
count_ratings.merge(movies, on = 'movieId', how = 'left')

   movieId  count                             title       genres
0      318    153  Shawshank Redemption, The (1994)  Crime|Drama

4.По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [103]:
dataset = pd.read_csv('./power.csv')

dataset['quantity'][(dataset['country'].isin(['Lithuania','Latvia','Estonia']))
        &(dataset['category'].isin(['4','12','21']))
        &(dataset['year'].isin(range(2005,2011)))&(dataset['quantity'] >= 0)].sum()

240580.0

5.Решите систему уравнений:
4x + 2y + z = 4
x + 3y = 12
5y + 4z = -3

In [109]:
from numpy import linalg

a = np.array([[4,2,1],[1,3,0],[0,5,4]])
b = np.array([4,12,-3])

linalg.solve(a,b)

array([ 0.46666667,  3.84444444, -5.55555556])